body {
    margin: 0;
    background-color: rgb(233, 233, 233);
    font-family: 'Bebas Neue', cursive;
}

.sign-in-wrapper {
    width: 500px;
    height: 400px;
    margin-left: 37%;
    margin-top: 100px;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    background-color: rgb(250, 250, 250);
    -webkit-box-shadow: 4px 6px 5px 0px rgba(186,186,186,1);
    -moz-box-shadow: 4px 6px 5px 0px rgba(186,186,186,1);
    box-shadow: 4px 6px 5px 0px rgba(186,186,186,1);
}

.sign-in-wrapper h1{
    padding-top: 30px
}

.sign-in-wrapper label {
    margin-right: 10px
}

.btn-sign-in {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    background-color: #2D2926FF;
    border: none;
    color: white;
    padding: 5px 30px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.helper-links {
    margin-top: 30px;
}

ul {
    margin-left: -20px;
    margin-right: -20px;
    list-style-type: none;
    float: left;
    margin-top: 100px;
}

ul li {
    margin-left: 0px;
    width: 120px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    color: black;
    transition: 0.1s ease-in-out;
}

ul li:hover {
    background-color: rgb(187, 186, 186);
}

.nav-logo {
    position: absolute;
    width: 100px;
    left: 40px;
    margin-top: 40px;
    z-index: 2;
}

.home-wrapper {
    margin-top: 50px;
}

input {
    text-align: center;
}

.logo {
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
}

.logo img {
    position: absolute;
    width: 120px;
}

.btn-logout {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    background-color: #2D2926FF;
    border: none;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.home-wrapper h1{
    color: #2D2926FF;
}

.home-wrapper p{
    color: #2D2926FF;
}

.btn-create-project {
    font-family: 'Bebas Neue', cursive;
    background-color: #2D2926FF;;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 15px 30px 15px 30px;
    font-size: 22px;
    cursor: pointer;
}

.adding-project input {
    width: 15%;
    padding: 12px 20px;
    display: inline-block;
    background-color: #2D2926FF;
    color: white;
    border: 2px solid black;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    outline-style: solid;
}

.adding-project input:focus {
    outline-color: black;
}

.adding-project button {
    background-color: #2D2926FF;
    border: none;
    color: white;
    padding: 14px 20px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.btn-dark-gray {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    direction: none;
    background-color: #2D2926FF;
    color: white;
    border: none;
    padding: 6px 20px 6px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius:5px;
}

.btn-cyan {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    direction: none;
    background-color: rgb(42, 255, 255);
    color: black;
    border: none;
    padding: 6px 20px 6px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius:5px;
}

.btn-red {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    direction: none;
    background-color: rgb(255, 0, 0);
    color: black;
    border: none;
    padding: 6px 20px 6px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius:5px;
}

.project-style {
    width: 100%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2D2926FF;
    border-radius: 0.5rem;
    text-align: left;
}

.project-style span {
    display: inline-block;
    z-index: 1;
}


.project-style span p {
    color: white;
}

.project-user {
    width: 25%;
    margin-left: 20%;
}

.project-name {
    width: 25%;
}

.project-date {
    width: 25%;
}


.settings-wrapper {
    position: absolute;
    margin-top: -55px;
    margin-left: 41%;
    cursor: pointer;
}

.text-editor {
    margin-left: 23%;
}

.navigation {
    height: 100%;;
    margin-top: -21px;
    padding-right: 50px;
}

.navigation li {
    margin-top: 60px;
    text-decoration: none;
    color: black;
    font-size: 22px;
    cursor: pointer;
}

.tags {
    display: inline-block;
    width: 52%;
    margin-left: 4%;
    margin-bottom: -15px;
    border-bottom: 2px solid rgb(148, 148, 148);
    margin-bottom: 0px;
}

.tags p {
    display: inline-block;
    margin-bottom: 2px;
}

.tags-name {
    width: 20%;
}

.tags-description {
    width: 52%;
}

.tags-date {
    width: 14%;
}

.tags-priority {
    width: 14%;
}

.bugs-container {
    display: inline-block;
    width: 51%;
    border: 2px solid rgb(179, 179, 179);
    padding-top: -10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.bugs-container p {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bugs-name {
    width: 13%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    color: white;
    background-color: crimson;
}

.bugs-dsc {
    margin-left: 2%;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 55%;
    border-radius: 10px;
    color: white;
    background-color:steelblue;
}

.bugs-date {
    width: 10%;
}

.bugs-priority {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    width: 10%;
    color: white;
    background-color: red;
}

.container-bug-dsc {
    width: 16%;
    margin-left: 42%;
    margin-bottom: 20px;
}

.container-bug-dsc input {
    width: 98%;
    height: 20px;
}

.input-bug-dsc {
    margin-bottom: 0px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(211, 211, 211);
}

.bug-priority-container {
    margin-bottom: 20px;
}

.bug-content {
    background-color: white;
    width: 60%;
    margin-left: 20%;
    border: 1px solid gray;
}

.bug-options {
    margin-top: 20px;
    margin-left: 50%;
}

.bug-reporter-container {
    width: 20%;
    margin-left: 40%;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.chart-priority {
    width: 400px;
    height: 400px;
    position: absolute;
    margin-left: 0.2%;
    margin-top: -210px;
}

.priority-legend {
    width: 400px;
    height: 400px;
}

.block-legend {
    padding: 1px 10px 1px 10px;
    margin-left: 50px;
    margin-right: 5px;
    border-radius: 5px;
}

.green {
    background: green;
}

.orange {
    background: orange;
}

.red {
    background: red;
}




