body {
    margin: 0;
    background-color: rgb(233, 233, 233);
    font-family: 'Bebas Neue', cursive;
}

.home-wrapper {
    margin-top: 50px;
}

input {
    text-align: center;
}

.logo {
    position: absolute;
    margin-left: 20px;
    margin-top: -10px;
}

.logo img {
    position: absolute;
    width: 120px;
}

.btn-logout {
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    background-color: #2D2926FF;
    border: none;
    color: white;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.home-wrapper h1{
    color: #2D2926FF;
}

.home-wrapper p{
    color: #2D2926FF;
}

.btn-create-project {
    font-family: 'Bebas Neue', cursive;
    background-color: #2D2926FF;;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 15px 30px 15px 30px;
    font-size: 22px;
    cursor: pointer;
}

.adding-project input {
    width: 15%;
    padding: 12px 20px;
    display: inline-block;
    background-color: #2D2926FF;
    color: white;
    border: 2px solid black;
    border-radius: 4px 0px 0px 4px;
    box-sizing: border-box;
    outline-style: solid;
}

.adding-project input:focus {
    outline-color: black;
}

.adding-project button {
    background-color: #2D2926FF;
    border: none;
    color: white;
    padding: 14px 20px;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

.project-style {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2D2926FF;
    border-radius: 0.5rem;
    text-align: left;
    cursor: pointer;
}

.project-style span {
    display: inline-block;
    margin-right: 5%;
}

.project-style span p {
    color: white;
}

.project-dsc-wrapper {
    margin-left: 10%;
}

.project-dsc-wrapper span {
    margin-left: 10%;
}

.text-editor {
    margin-left: 23%;
}

.navigation {
    position: absolute;
    background-color: #2D2926FF;
    height: 100%;;
    margin-top: -21px;
    padding-right: 50px;
}

.navigation li {
    margin-top: 60px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.tags {
    display: inline-block;
    width: 52%;
    margin-left: 4%;
    margin-bottom: -15px;
    border-bottom: 2px solid rgb(148, 148, 148);
    margin-bottom: 0px;
}

.tags p {
    display: inline-block;
    margin-bottom: 2px;
}

.tags-name {
    width: 20%;
}

.tags-description {
    width: 52%;
}

.tags-date {
    width: 14%;
}

.tags-priority {
    width: 14%;
}

.bugs-container {
    display: inline-block;
    width: 51%;
    border: 2px solid rgb(179, 179, 179);
    padding-top: -10px;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.bugs-container p {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bugs-name {
    width: 10%;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    color: white;
    background-color: crimson;
}

.bugs-dsc {
    margin-left: 5%;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 55%;
    border-radius: 10px;
    color: white;
    background-color:steelblue;
}

.bugs-date {
    width: 10%;
}

.bugs-priority {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 10px;
    width: 10%;
    color: white;
    background-color: red;
}

.btn-add {
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
    direction: none;
    background-color: deepskyblue;
    color: white;
    border: none;
    padding: 6px 20px 6px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius:5px;
}




